<h1 mat-dialog-title>Place Order</h1>
<div mat-dialog-content [formGroup]="orderFormGroup">
  <mat-form-field>
    <input type="number" pattern="[0-9]*" matInput placeholder="Full Cups" formControlName="fullCups">
  </mat-form-field>
  <mat-form-field>
    <input type="number" pattern="[0-9]*" matInput placeholder="Half Cups" formControlName="halfCups">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onSubmit()" [disabled]="isBadInput()" cdkFocusInitial>Ok</button>
</div>
